.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 50rem;
}

.title {
  color: #726973;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

.iconTitle {
  font-size: 25px;
  color: #726973;
  margin-right: 10px;
}

.botao {
  margin: 15px !important;
}

.input {
  margin-top: 5px;
}

.divButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
