.containerCorpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerTopo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    padding: 1rem;
}

.containerFiltro {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.filtro {
    width: 25%;
}

.ordenacao {
    margin-left: 2rem;
}