.containerCorpo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.containerTopo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  align-items: center;
}

.containerFiltro {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 70%;
}

.filtro {
  width: 25%;
}

.ordenacao {
  margin-left: 2rem;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
